/* CARD COMPONENT CSS ----------------------------------------------------*/

/* mobile first, applies starting from 320px wide screens */
body {
  padding: .5em;
  width: 320px;
}

.wrapper {
  display: inline-block;
  margin: 0;
  padding: 1em 0;
  width: 100%;
}

.card-wrap {
  padding: .8em;
}

.card {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all .2s ease;
}

.card:hover {
  box-shadow: 0 10px 10px rgba(0,0,0,.15), 0 4px 8px rgba(0,0,0,.15);
  transform: scale(1.05);
  transform: translateZ(0);
}

.card-header {
  background: linear-gradient(#e8f5f8, #feffff);
  border: 1px solid #FFF;
  border-radius: 6px 6px 0 0;
  padding: 1em;
}

.material-icons {
  color: #83d2d4;
  display: none;
} 

.title {
  color: #17252a;
  font-size: 1.15em;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
}

.card-main {
  padding: 1em;
  text-align: center;
}

.main-description p {
  color: #404040;
  margin: 0;
}

.card-footer {
  border-top: 1px solid #eee;
  display: none;
  padding: .4em;
}

.card-button {
  color: #068c9e;
  font-weight: 700;
  transition: all .2s ease;
}

.card-button:hover {
  text-decoration: underline;
}

.card-button:visited {
  color: #068c9e;
}

/* MEDIA QUERIES ------------------------------------------------ */

@media all and (min-width: 321px) {
  body {
    width: auto;
  }
}

@media all and (min-width: 600px) {
  .flex-container {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card-wrap {
    width: 50%;
  }

  .card-button {
    display: block;
  }
}

/* for aligning the title */
@media all and (max-width: 999px) and (min-width: 600) {
  /* Found a cool trick for centering elements from 
     https://css-tricks.com/centering-in-the-unknown/
     used in .card-header, .card-header:before & .title;
  */
  .card-header {
    height: 5em;
    text-align: center;
  }

  .card-header:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -0.5em;
    vertical-align: middle;
  }

  .title {
    display: inline-block;
    font-size: 1.15em;
    line-height: 1.5em;
    vertical-align: middle;
  }
}

@media all and (min-width: 800px) {
  .card-header {
    align-items: center;
    display: grid;
    gap: 1em;
    grid-template-columns: 3em auto;
    height: 7.5em;
    padding: 1em;
  }

  .material-icons {
    display: initial;
    font-size: 3em;
  }

  .title {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
  }

  .card-main {
    height: 6em;
    padding-top: 0;
  }

  .main-description {
    text-align: left;
  }

  span.card-button {
    display: inline-block;
  }
}

@media all and (min-width: 1000px) {
  /* 3-column layout */
  .card-wrap {
    width: 33%;
  }

  span.card-button {
    display: none;
  }

  .card-footer {
    display: initial;
  }

  .card-button {
    color: #068c9e;
    display: inline-block;
    font-weight: 700;
    padding: .4em .6em;
    text-transform: uppercase;
    transition: all .2s ease;
  }

  .card-button:hover {
    background-color: #068c9e;
    border-radius: 2px;
    color: white;
    text-decoration: none;
  }
}

@media all and (min-width: 1280px) {
  /* 4-column layout */
  .card-wrap {
    width: 25%;
  }

  /* uses flexbox layout to center header items*/
  .card-header {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 13em;
    justify-content: center;
    padding: .5em;
  }

  .material-icons {
    font-size: 7em;
  }

  .title {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0;
    text-align: center;
  }
}