* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
}

.card {
  width: 30%;
  height:30%;
  border: 1px solid #EF9A9A;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  margin: 1%;
  }

.card:hover{
  transform: scale(1.021);
  transform: translateZ(0);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-header {
  background-color: #FFEBEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.material-icons {
  font-size: 3em;
  color: #D32F2F;
  margin-top: .3125em;
}

.title {
  margin: .5em;
  font-size: 1.1em;
  font-weight: 600;
}

.card-main {
  color: #D32F2F;
  text-align: left;
  /*background-color: #FFEBEE;*/
  padding: 0 1em;
}

.main-description {
  color: #D32F2F;
  font-size: .85em;
  text-align: left;
}

.card-footer {
  border-top: 1px solid #FFEBEE;
  padding: .4em;

}

.card-button {
  display: inline-block;
  padding: .4em .9em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: #D32F2F;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.card-button:hover {
  background-color: #e5e5e5;
  border-radius: 2px;
  align-items: left;
  text-decoration: none;
}

a {
    text-decoration: none;
}





.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    }

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }


@media only screen and (max-width: 640px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
  }

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width:100%;
  }   
}
