@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

h1 {
  font-size: 2.25em;
  line-height: 1.33em;
  margin-bottom: .67em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.29em;
  margin-bottom: .64em;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: .6em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.33em;
  margin-bottom: .67em;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: .75em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: .75em;
}

a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #cc3300;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

th, td {
  text-align: left;
  padding: 8px;
}

div {

}

img {

}

button {
  background-color: #008080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

ul {

}

ol {

}

li {

}

p.example {
border-style: outset;
}

/* CARD COMPONENT CSS ----------------------------------------------------*/

.wrapper {
  padding: 1em 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.card-wrap {
  padding: .5em;
}

.card {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.021);
  transform: translateZ(0);
  box-shadow: 0 10px 10px rgba(0,0,0,.15), 0 4px 8px rgba(0,0,0,.15);
}

.card-header {
  background-color: #FFEBEE;
  padding: 1em;
  border: 1px solid #FFF;
  border-radius: 6px 6px 0 0;
}

.material-icons {
  display: none;
  color: #D32F2F;
} 

.title {
  margin: 0;
  font-size: 1.15em;
  text-align: center;
}

.card-main {
  color: #D32F2F;
  padding: 1em;
  text-align: center;
}

.main-description p {
  margin: 0;
}

.card-footer {
  display: none;
  border-top: 1px solid #eee;
  padding: .4em;
}

.card-button {
  font-weight: 700;
  color: #D32F2F;
  transition: all .2s ease;
}

.card-button:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES ------------------------------------------------ */

@media all and (min-width: 1280px) {
  /* 4-column layout */
  .card-wrap {
    width: 25%;
  }

  /* uses flexbox layout to center header items*/
  .card-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: .5em;
    height: 13em;
  }

  .material-icons {
    font-size: 7em;
  }

  .title {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-top: .5em;
  }

  .card-main {
    height: 6.3em;
  }
}

@media all and (min-width: 1000px), (min-width: 1280px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }

  .material-icons {
    display: initial;
  }

  .main-description {
    text-align: left;
  }

  span.card-button {
    display: none;
  }

  .card-footer {
    display: initial;
  }

  .card-button {
    display: inline-block;
    padding: .4em .6em;
    text-transform: uppercase;
    font-weight: 700;
    color: #D32F2F;
    transition: all .2s ease;
  }

  .card-button:hover {
    background-color: #eee;
    border-radius: 2px;
    text-decoration: none;
  }
}

@media all and (max-width: 1279px) and (min-width: 1000px) {
  /* 3-column layout */
  .card-wrap {
    width: 33%;
  }

  .card-header {
    display: grid;
    grid-template-columns: 3em auto;
    align-items: center;
    padding: 1em;
    gap: 1em;
    height: 7em;
  }

  .material-icons {
    font-size: 3em;
  }

  .title {
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: left;
  }

  .card-main {
    height: 6em;
  }
}

@media all and (max-width: 999px) and (min-width: 550px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }

  .card-wrap {
    width: 50%;
  }

  /* Found a cool trick for centering elements from 
     https://css-tricks.com/centering-in-the-unknown/
     used in .card-header, .card-header:before & .title;
  */
  .card-header {
    text-align: center;
    height: 5em;
  }

  .card-header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.5em;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.2em;
  }
}

@media all and (max-width: 549px) and (min-width: 320px) {
  body {
    width: auto;
  }
}

@media all and (max-width: 319px) and (min-width: 0px) {
  body {
    width: 320px;
  }
}