/* TEAM CSS ---------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  padding: 1em;
}

html {
  /* font-size */
}

h1 {
  font-size: 2.25em;
  line-height: 1.33em;
  margin-bottom: .67em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.29em;
  margin-bottom: .64em;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: .6em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.33em;
  margin-bottom: .67em;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: .75em;
}

p {
  font-size: 1em;
    line-height: 1.5em;
    margin-bottom: .75em;
}

section{
  background-color: #ffffff;
  padding: 10rem 0;
}

a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #cc3300;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

th{
  text-align: left;
  padding: 8px;
  background-color: #000000;
  color: #ffffff;
}

td {
  text-align: left;
  padding: 8px;
}

/*button with div*/
button {
  background-color: #008080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*button without div*/
.button{
  background-color: #008080;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

p.example {
  border-style: outset;
  background-color: #d9d9d9;
  padding:.5em;
  border-radius: 10px;
}